/* Default reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */

/* 
### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%) */
:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --neutral-grayish-blue: hsl(240, 75%, 98%);
  --light-grey: hsl(0, 0%, 75%);
}

/* Default styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--desaturated-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-blue);
}
